*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: deeppink;
    padding: 0;
    margin: 0;
}
.navigate {
    display: inline;
}
header {
    background-color: blue;
    text-align: center;
    
}
footer {
    background-color: rgb(116, 42, 165);
}
    